@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --primary-black: #000000;
  --secondary-black: #101010;
  --primary-white: #FFFFFF;
  --secondary-white: #F0F0F0;
  --primary-pink: #EFC3C5;
  --primary-green: #E2F2B0;
}

body{
  background: var(--primary-black);
}
.main{
  margin-top: 50px;
}

.primary-button {
  background: var(--primary-green);
  padding: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-decoration: none;
  position: fixed; 
  bottom: 0;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.primary-button:hover {
  background: var(--primary-pink);
}

.fa-shopping-cart {
  color: var(--primary-black);
  font-size: 2rem; 
}

.products-grid {
  margin-top: 50px;
}
h2{
  color: var(--primary-green);
  font-size: 4rem;
  font-family: "Allura", cursive;
  text-align: center;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 80px;
  row-gap: 80px;


  /* - In CSS Grid, 1fr means a column will take up the
       remaining space in the grid.
     - If we write 1fr 1fr ... 1fr; 8 times, this will
       divide the grid into 8 columns, each taking up an
       equal amount of the space.
     - repeat(8, 1fr); is a shortcut for repeating "1fr"
       8 times (instead of typing out "1fr" 8 times).
       repeat(...) is a special property that works with
       display: grid; */
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 2000px or less, we
   will divide the grid into 7 columns instead of 8. */
@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* This @media means when the screen width is 1600px or
   less, we will divide the grid into 4 columns. */
@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  h2{
    margin-left: 50px;
  }
}

@media (max-width: 450px) {
  .products-grid {
    row-gap: 40px;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-name{
    font-size: .3rem;
    text-overflow: clip;
  }
}

.product-container {
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;

  border-left: 1px solid var(--primary-white);
  border-right: 1px solid var(--primary-white);
  border-top: 1px solid var(--primary-white);
  border-bottom: 1px solid var(--primary-white);

  border-radius: 2px;

  display: flex;
  flex-direction: column;
}

.product-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 0 30px rgba(229, 232, 235, 0.8); 
  background: var(--secondary-black);
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  margin-bottom: 20px;
}

.product-image {
  /* Images will overflow their container by default. To
    prevent this, we set max-width and max-height to 100%
    so they stay inside their container. */
  max-width: 100%;
  max-height: 100%;
}

.product-name {
  height: 40px;
  margin-bottom: 5px;
  color: var(--primary-white);
  font-size: .8rem;
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.product-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--primary-white);
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  margin-top: 5px;
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}

.animation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
}

.gsap-heading {
  font-size: 3rem;
  color: #5c005c;
  margin-bottom: 20px;
  overflow: hidden; /* Needed for the typewriter effect */
  white-space: nowrap; /* Prevents text wrapping */
  border-right: 3px solid; /* Creates the blinking cursor effect */
  width: 0; /* Starts with no visible text */
}

.gsap-subtext {
  font-size: 1.5rem;
  color: #a800a8;
  transform: scale(0); 
}
